<section class="padding-y">
    <div class="container">
    
      <!-- ========= content items ========= -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <a routerLink='/detail'> <img src="assets/img/pc 3.jpg"> </a>  
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$99.00</strong>
            <del class="price-old">$170.00</del>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
            
            <a routerLink="/cart" class="btn btn-primary">Add to cart</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <figure class="card card-product-grid">
              <div class="img-wrap"> 
                <a routerLink='/detail'> <img src="assets/img/pc 2.jpg"> </a> 
              </div>
              <figcaption class="info-wrap border-top">
                <div class="price-wrap">
                <strong class="price">$99.00</strong>
                <del class="price-old">$170.00</del>
                </div> <!-- price-wrap.// -->
                <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                
                <a routerLink="/cart" class="btn btn-primary">Add to cart</a>
                <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
              </figcaption>
              </figure>
            </div> <!-- col end.// -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <figure class="card card-product-grid">
                  <div class="img-wrap"> 
                   <a routerLink='/detail'> <img src="assets/img/pc 1.jpg"> </a> 
                  </div>
                  <figcaption class="info-wrap border-top">
                    <div class="price-wrap">
                    <strong class="price">$99.00</strong>
                    <del class="price-old">$170.00</del>
                    </div> <!-- price-wrap.// -->
                    <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
                    
                    <a routerLink='/cart' class="btn btn-primary">Add to cart</a>
                    <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                  </figcaption>
                  </figure>
                </div> <!-- col end.// -->
    
      
      <hr>
  <footer class="d-flex mt-4">
                
                  <nav class="ms-3">
                      <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                          <span class="page-link">2</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                      </li>
                      </ul>
                  </nav>
                  </footer>
                
                 
                  </div> 
          